<%- include("header.ejs")%>
<%- include("navbar.ejs") %>
<body>

    <h1 class="delete-title">Deleted Successfully</h1>
    <div class="d-b">
    <a href="/" class="delete-button">Go to Home</a>
</div>
</body>