<%- include("header.ejs")%>

  <body >


    <%- include("navbar.ejs") %>
      <div class="px-4 py-5 my-5 text-center">
        <h1>Welcome to Assignment Manager</h1>
        <p class="desc">Need help with your assignments? Look no further. Our Assignment manager application is here to assist you in
          crafting top-notch assignments with ease. Whether it's an essay, report, or presentation, our intuitive
          platform provides the tools you need to organize your thoughts, research effectively, and create polished
          assignments that impress.</p>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="/create">Create</a></button>
      </div>
      </div>
      </div>
      </div>
      <%- include("footer.ejs") %>
  </body>

  </html>